@page "/underdevelopment"

<PageTitle>UnderDevelopment</PageTitle>

<div class="container my-3 px-3 py-3 rounded-3" style="background-color:#FFBC8D;">
    <div class="col text-center">
        <h2>Страница находится в разработке</h2>
    </div>
</div>
<div class="col text-center">
         <img class = "mb-3" src="/images/underDevelopment.png" style="width:50%">
    </div>